<div class="container-fluid px-0" style="background-image: url(<%= image_url 'Camille_2.jpg' %>);background-size: cover;height: 100vh;">
    <div class="container-fluid shade-bg">
        <div class="container-sm vh-100 bg-dark d-flex align-items-center justify-content-center">
            <div class="container-sm v-stack gap-5">
                <h1>Qual seu elo?</h1>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn-outline-secondary vstack" for="btnradio1">
                        Bronze
                    </label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-secondary" for="btnradio2">
                        Silver
                    </label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-secondary" for="btnradio3">
                        Gold
                    </label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-secondary" for="btnradio4">
                        Platinum
                    </label>
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
                    <label class="btn btn-outline-secondary" for="btnradio5">
                        Diamond
                    </label>
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off">
                    <label class="btn btn-outline-secondary" for="btnradio6">
                        Master
                    </label>
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio7" autocomplete="off">
                    <label class="btn btn-outline-secondary" for="btnradio7">
                        Grandmaster
                    </label>
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio8" autocomplete="off">
                    <label class="btn btn-outline-secondary" for="btnradio8">
                        Challenger
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>